<!-- Describe task in general -->

<p style="text-align: justify;">
    当算术表达式以我们熟悉的<strong>后缀</strong>符号<code>2 + 3 × 4</code> 表示时，括号会提示不同的运算顺序，使其有别于通常由每个运算符的<strong>优先级</strong>和关联性决定的<b>PEMDAS</b> 顺序。另一种<strong>后缀</strong>符号（也称为<a target="_blank" href="https://en.wikipedia.org/wiki/Reverse_Polish_notation">Reverse Polish Notation</a> ）可能会让习惯于传统后缀符号的人感到奇怪。然而，后缀符号对机器来说更容易使用，因为它允许对<i>任何</i>预期的运算顺序进行编码，而不需要任何括号！ 
</p>

<p style="text-align: justify;">
    后缀表达式以{% if is_js %}数组{% else %}list{% endif %} 的形式给出，<code>items</code> ，可以是单个整数，也可以是表示四个基本算术运算符的字符串 "+"、"-"、"*"和"/"之一。使用初始为空的堆栈来求值后缀表达式。从左到右逐项循环。只要当前项是整数，就将其追加到列表末尾。否则，从列表末尾弹出两个项来执行该操作，并将结果追加回列表。假定 items 是一个合法的后缀表达式（本问题中保证了这一点，因此不需要进行任何错误检测或恢复），一旦所有项目都已处理完毕，堆栈中剩下的唯一数字就会成为最终答案。
</p>

<p style="text-align: justify;">
    为了避免浮点运算的复杂性，应该使用 Python 整数除法运算符<code>//</code> 来执行除法运算，该运算符会将结果截断为整数部分。此外，为了避免因除以零而崩溃，这个问题还附带了一个人为的（但<a target="_blank" href="https://www.hillelwayne.com/post/divide-by-zero/">mathematically</a> 完全正确的）规则，即除以零的结果为零，而不是崩溃。
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}postfix-eval.svg" alt="example" style="max-height: 200px"/>
</p>

<p style="text-align: justify;">
    通过添加更多运算符和另一个辅助堆栈，可以围绕后缀求值构建整个图灵完备的编程语言。请访问<a target="_blank" href="https://en.wikipedia.org/wiki/Forth_(programming_language)">“Forth”</a> 页面，了解这种巧妙而简单的串联编程语言的更多信息。
</p>
<!-- Explain input and output values -->
<p>
   <strong>输入：</strong> {% if is_js %}数组{% else %}整数和字符串的列表{% endif %} <span>({% if is_js %}number{% else %}int{% endif %})</span>和字符串 <span>(str{% if is_js %}ing{% endif %})</span>. 
</p>

<p>
   <strong>输出：</strong>整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>


<p>
    <strong>示例</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->

<p><i>任务摘自 Python CCPS 109。该课程由张瑞敏继续教育学院教授。<a href="https://github.com/ikokkari">Ilkka Kokkarinen</a></i></p>
